.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.subtotal-container {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.buy-button {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #cc0000;
}