.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.product {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  width: 500px;
  height: auto;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.image img {
  width: 300px;
  height: 300px;
}
p.discountPrice {
  color: #00a650;
  text-decoration: none;
  font-size: 30px;
}
p.description {
  width: 400px;
  height: 60px;
  overflow: auto;
}
.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rating p {
  padding: 10px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.button-wrapper {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-cart,
.button-wishlist {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.wishlist-button {
  background-color: #ffcc00;
  color: #000;
  margin-right: 10px;
}

.cart-button {
  background-color: #00ccff;
  color: #fff;
}
a {
  text-decoration: none;
  color: #000;
}
