.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 70px;
  max-width: 100%;
  background: #333;
  padding: 10px;
}

.branding,
.nav-user {
  display: flex;
  max-height: 70px;
  align-items: center;
  gap: 10px;
}
.branding img,
.nav-user img {
  max-height: 70px;
  border-radius: 10px;
}
.branding p,
.nav-user p {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sections {
  display: flex;
}
