.login {
    background-color: #222;
    display: flex;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    width: 275px;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.userPass {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 1em;
    gap: 4px;
}

.userPass input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 0.5em;
}

.userPass button {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: orangered;
    color: white;
}

.boton:hover {
    background-color: white;
    color: orangered;
}

.loginimg {
    border-radius: 10px;
}

.button-container {
    padding-top: 20px;
    width: 100%;
}

.body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}