.login {
    background-color: #222;
    display: flex;
    width: auto;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    width: 275px;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.userPass {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 1em;
    gap: 4px;
}

.userPass input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 0.5em;
}

.userPass button {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: orangered;
    color: white;
}

.boton:hover {
    background-color: white;
    color: orangered;
}

.login img {
    border-radius: 10px;
}

.button-container {
    padding-top: 20px;
    width: 100%;
}

.body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88.8vh;
    background-color: #FA7720;
}

@media screen and (max-width:660px) {
    .body {
        padding-top: 3em;
        background-color: #FA7720;
        height: 81vh;
    }

    .login {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 70vh;
    }

    .userPass {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (min-width:660px) and (max-width:780px) {
    .body {
        background-color: #FA7720;
    }
}

@media screen and (min-width: 780px) and (max-width:840px) {
    div.login {
        width: 70%;
    }

    .body {
        background-color: #FA7720;
    }
}

@media screen and (min-width: 840px) and (max-width:900px) {
    div.login {
        width: 65%;
    }

    .body {
        background-color: #FA7720;
    }

}