* {
  padding: 0;
  margin: 0;
}

.user {
  display: flex;
  width: auto;
  height: 90.9vh;
  background-color: rgb(227, 227, 227);
  padding: 2em;
  overflow: hidden;
}

.user-addInfo {
  width: 35%;
  height: auto;
  padding: 1em;
  background-color: white;
  border-radius: 20px 0px 0px 20px;
}

.user-img {
  height: 30%;
  width: auto;
  display: flex;
  justify-content: center;
  padding: 1em;
}

.user-img img {
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
}

.user-info {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.user-phone,
.user-email,
.user-address,
.user-website img {
  padding-right: 5px;
}

.user-phone,
.user-email,
.user-address,
.user-website p {
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.user-address img {
  padding: 3px;
}

.user-phone,
.user-email,
.user-address,
.user-website {
  display: flex;
  padding: 1em;
  align-items: center;
}

.user-rightside {
  width: 60%;
  background-color: white;
  border-radius: 0px 20px 20px 0px;
  padding: 2em;
  display: flex;
  justify-content: center;
}

.inner-rightside {
  width: 95%;
  background-color: rgb(236, 236, 236);
  box-shadow: 0px 0px 10px #e2e2e2;
  border-radius: 20px;
  padding: 1em;
}

.name-rightside {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
}

.name-rightside h1 {
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}

.user-home-logo {
  width: 30px;
  height: 30px;
}

.name-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
}

.name-buttons button {
  width: auto;
  height: 10%;
  display: flex;
  border-radius: 10px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px #b4b4b4;
  gap: 10px;
  background-color: white;
  border: none;
}

.boughtrecently {
  margin: 10px;
}

.boughtrecently h2 {
  padding: 5px;
}

.boughtrecently-card-wrapper {
  display: flex;
  justify-content: center;
  background-color: rgb(218, 218, 218);
  padding: 20px;
  height: 350px;
  flex-wrap: wrap;
  overflow: auto;
  border-radius: 10px;
}

.boughtrecently-card {
  background-color: #b4b4b4;
  width: 200px;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

.boughtrecently-card img {
  width: 100px;
}

.phone-user-name {
  display: none;
}

@media (max-width: 600px) {
  .user {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    align-items: center;
  }

  .name-rightside {
    display: none;
  }

  .user-addInfo {
    width: 90.1%;
    border-radius: 20px 20px 0px 0px;
  }

  .phone-user-name {
    display: flex;
    justify-content: center;
  }

  .user-img {
    height: 30%;
  }

  .user-info {
    flex: 1 1 40%;
    margin-bottom: 0;
  }
  .log-out-container button{
    display: flex;
    color: red;
  }
  .user-phone,
  .user-email,
  .user-address,
  .user-website {
    flex: 1 1 50%;
  }

  .name-buttons button {
    width: auto;
    height: auto;
    margin: 0 0.5em;
  }

  .boughtrecently-card {
    /* width: 30%; */
    margin: 0.5em;
  }

  .boughtrecently-card-wrapper {
    height: auto;
  }

  .user-rightside {
    width: 83.8%;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    padding: 2em;
    display: flex;
    justify-content: center;
  }
}